<div class="row justify-content-center">
  <div class="col-12">
    <h2><span jhiTranslate="finmansysApp.nganSachNam.hachToan.title">Hạch toán ngân sách</span></h2>
    <div class="col-6" style="display: flex">
      <h5 style="display: flex; align-items: center; padding-top: 8px">Ngân sách năm</h5>
      <select class="select-box" (change)="onChangegNSNam($event)">
        <option *ngFor="let nganSachNam of nganSachNams" value="{{ nganSachNam?.id }}">{{ nganSachNam?.ten }}</option>
      </select>
    </div>
    <br />
    <div *ngIf="khoanMucChiPhis && reset">
      <h4>Danh sách ngân sách tháng</h4>
      <div style="display: flex">
        <div style="display: flex; margin-bottom: 15px">
          <span class="content info-box" style="background-color: blue"></span>
          <span>Dự kiến</span>
        </div>
        <div style="display: flex; margin-bottom: 15px; margin-left: 15px">
          <span class="content info-box" style="background-color: red"></span>
          <span>Thực chi</span>
        </div>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
          <th scope="col">STT</th>
          <th scope="col">Khoản mục</th>
          <th scope="col">Tháng 1</th>
          <th scope="col">Tháng 2</th>
          <th scope="col">Tháng 3</th>
          <th scope="col">Tháng 4</th>
          <th scope="col">Tháng 5</th>
          <th scope="col">Tháng 6</th>
          <th scope="col">Tháng 7</th>
          <th scope="col">Tháng 8</th>
          <th scope="col">Tháng 9</th>
          <th scope="col">Tháng 10</th>
          <th scope="col">Tháng 11</th>
          <th scope="col">Tháng 12</th>
          <th scope="col">Tổng kết</th>
        </thead>
        <tbody>
          <tr *ngFor="let khoanMucChiPhi of khoanMucChiPhis; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ khoanMucChiPhi?.ten }}</td>
            <td *ngFor="let j of listMonth">
              <span title="Dự kiến {{ getMoney(j, khoanMucChiPhi) | currency: 'VNĐ' }}" style="color: blue; cursor: pointer">
                {{ getMoney(j, khoanMucChiPhi) | currency: ' ' }}
              </span>
              <br />
              <span title="Thực chi {{ getMoneyChiTieu(j, khoanMucChiPhi) | currency: 'VNĐ' }}" style="color: red; cursor: pointer">
                {{ getMoneyChiTieu(j, khoanMucChiPhi) | currency: ' ' }}
              </span>
            </td>
            <td>
              <span title="Dự kiến {{ getTotal(khoanMucChiPhi) | currency: 'VNĐ' }}" style="color: blue; cursor: pointer">
                {{ getTotal(khoanMucChiPhi) | currency: ' ' }}
              </span>
              <br />
              <span title="Thực chi {{ getTotalChiTieu(khoanMucChiPhi) | currency: 'VNĐ' }}" style="color: red; cursor: pointer">
                {{ getTotalChiTieu(khoanMucChiPhi) | currency: ' ' }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
