<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ngan-sach-thang-heading"
        data-cy="NganSachThangCreateUpdateHeading"
        jhiTranslate="finmansysApp.nganSachThang.home.createOrEditLabel"
      >
        Create or edit a Ngan Sach Thang
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.nganSachThang.thang" for="field_thang">Thang</label>
          <input type="number" class="form-control" name="thang" id="field_thang" data-cy="thang" formControlName="thang" />
          <div *ngIf="editForm.get('thang')!.invalid && (editForm.get('thang')!.dirty || editForm.get('thang')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('thang')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('thang')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              This field should be at least 1.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('thang')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 12 }"
            >
              This field cannot be more than 12.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('thang')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.nganSachThang.soTien" for="field_soTien">So Tien</label>
          <input type="number" class="form-control" name="soTien" id="field_soTien" data-cy="soTien" formControlName="soTien" />
          <div *ngIf="editForm.get('soTien')!.invalid && (editForm.get('soTien')!.dirty || editForm.get('soTien')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('soTien')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('soTien')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              This field should be at least 1.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('soTien')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.nganSachThang.nganSachNam" for="field_nganSachNam"
            >Ngan Sach Nam</label
          >
          <select class="form-control" id="field_nganSachNam" data-cy="nganSachNam" name="nganSachNam" formControlName="nganSachNam">
            <option *ngIf="!editForm.get('nganSachNam')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                nganSachNamOption.id === editForm.get('nganSachNam')!.value?.id ? editForm.get('nganSachNam')!.value : nganSachNamOption
              "
              *ngFor="let nganSachNamOption of nganSachNamsSharedCollection; trackBy: trackNganSachNamById"
            >
              {{ nganSachNamOption.ten }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['nganSachNam'])!.invalid && (editForm.get(['nganSachNam'])!.dirty || editForm.get(['nganSachNam'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['nganSachNam'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.nganSachThang.khoanMucChiPhi" for="field_khoanMucChiPhi"
            >Khoan Muc Chi Phi</label
          >
          <select
            class="form-control"
            id="field_khoanMucChiPhi"
            data-cy="khoanMucChiPhi"
            name="khoanMucChiPhi"
            formControlName="khoanMucChiPhi"
          >
            <option *ngIf="!editForm.get('khoanMucChiPhi')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                khoanMucChiPhiOption.id === editForm.get('khoanMucChiPhi')!.value?.id
                  ? editForm.get('khoanMucChiPhi')!.value
                  : khoanMucChiPhiOption
              "
              *ngFor="let khoanMucChiPhiOption of khoanMucChiPhisSharedCollection; trackBy: trackKhoanMucChiPhiById"
            >
              {{ khoanMucChiPhiOption.ten }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['khoanMucChiPhi'])!.invalid &&
            (editForm.get(['khoanMucChiPhi'])!.dirty || editForm.get(['khoanMucChiPhi'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['khoanMucChiPhi'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
