<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="khachSan">
      <h2 data-cy="khachSanDetailsHeading"><span jhiTranslate="finmansysApp.khachSan.detail.title">Khach San</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ khachSan.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khachSan.ten">Ten</span></dt>
        <dd>
          <span>{{ khachSan.ten }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khachSan.diaChi">Dia Chi</span></dt>
        <dd>
          <span>{{ khachSan.diaChi }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khachSan.email">Email</span></dt>
        <dd>
          <span>{{ khachSan.email }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/khach-san', khachSan.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
