<div>
  <h2 id="page-heading" data-cy="KhoanPhaiThuHeading">
    <span jhiTranslate="finmansysApp.khoanPhaiThu.home.title">Khoan Phai Thus</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="finmansysApp.khoanPhaiThu.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-khoan-phai-thu"
        [routerLink]="['/khoan-phai-thu/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="finmansysApp.khoanPhaiThu.home.createLabel"> Create a new Khoan Phai Thu </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="khoanPhaiThus?.length === 0">
    <span jhiTranslate="finmansysApp.khoanPhaiThu.home.notFound">No khoanPhaiThus found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="khoanPhaiThus && khoanPhaiThus.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="soTien">
            <span jhiTranslate="finmansysApp.khoanPhaiThu.soTien">So Tien</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ngayTao">
            <span jhiTranslate="finmansysApp.khoanPhaiThu.ngayTao">Ngay Tao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ngayPhaiThu">
            <span jhiTranslate="finmansysApp.khoanPhaiThu.ngayPhaiThu">Ngay Phai Thu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ghiChu">
            <span jhiTranslate="finmansysApp.khoanPhaiThu.ghiChu">Ghi Chu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="khachHang.ten">
            <span jhiTranslate="finmansysApp.khoanPhaiThu.khachHang">Khach Hang</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="maKeToan.soHieu">
            <span jhiTranslate="finmansysApp.khoanPhaiThu.maKeToan">Ma Ke Toan</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phongDuocDat.id">
            <span jhiTranslate="finmansysApp.khoanPhaiThu.phongDuocDat">Phong Duoc Dat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let khoanPhaiThu of khoanPhaiThus; trackBy: trackId" data-cy="entityTable" [ngStyle]="checkDay(khoanPhaiThu)">
          <td>
            <a [routerLink]="['/khoan-phai-thu', khoanPhaiThu.id, 'view']">{{ khoanPhaiThu.id }}</a>
          </td>
          <td>{{ khoanPhaiThu.soTien | currency: 'VNĐ' }}</td>
          <td>{{ khoanPhaiThu.ngayTao | formatMediumDatetime }}</td>
          <td>{{ khoanPhaiThu.ngayPhaiThu | formatMediumDatetime }}</td>
          <td>{{ khoanPhaiThu.ghiChu }}</td>
          <td>
            <div *ngIf="khoanPhaiThu.khachHang">
              <a [routerLink]="['/khach-hang', khoanPhaiThu.khachHang?.id, 'view']">{{ khoanPhaiThu.khachHang?.ten }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="khoanPhaiThu.maKeToan">
              <a [routerLink]="['/ma-ke-toan', khoanPhaiThu.maKeToan?.id, 'view']"
                >{{ khoanPhaiThu.maKeToan?.soHieu }} - {{ khoanPhaiThu.maKeToan?.ten }}</a
              >
            </div>
          </td>
          <td>
            <div *ngIf="khoanPhaiThu.phongDuocDat">
              <a [routerLink]="['/phong-duoc-dat', khoanPhaiThu.phongDuocDat?.id, 'view']"
                >{{ khoanPhaiThu.phongDuocDat?.id }} - {{ khoanPhaiThu.phongDuocDat?.checkOut }}</a
              >
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/khoan-phai-thu', khoanPhaiThu.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/khoan-phai-thu', khoanPhaiThu.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(khoanPhaiThu)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="khoanPhaiThus && khoanPhaiThus.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
