<div>
  <h2 id="page-heading" data-cy="LoaiTaiSanHeading">
    <span jhiTranslate="finmansysApp.loaiTaiSan.home.title">Loai Tai Sans</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="finmansysApp.loaiTaiSan.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-loai-tai-san"
        [routerLink]="['/loai-tai-san/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="finmansysApp.loaiTaiSan.home.createLabel"> Create a new Loai Tai San </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="loaiTaiSans?.length === 0">
    <span jhiTranslate="finmansysApp.loaiTaiSan.home.notFound">No loaiTaiSans found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="loaiTaiSans && loaiTaiSans.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ten"><span jhiTranslate="finmansysApp.loaiTaiSan.ten">Ten</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="moTa">
            <span jhiTranslate="finmansysApp.loaiTaiSan.moTa">Mo Ta</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="maKeToan.soHieu">
            <span jhiTranslate="finmansysApp.loaiTaiSan.maKeToan">Ma Ke Toan</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let loaiTaiSan of loaiTaiSans; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/loai-tai-san', loaiTaiSan.id, 'view']">{{ loaiTaiSan.id }}</a>
          </td>
          <td>{{ loaiTaiSan.ten }}</td>
          <td>{{ loaiTaiSan.moTa }}</td>
          <td>
            <div *ngIf="loaiTaiSan.maKeToan">
              <a [routerLink]="['/ma-ke-toan', loaiTaiSan.maKeToan?.id, 'view']"
                >{{ loaiTaiSan.maKeToan?.soHieu }} - {{ loaiTaiSan.maKeToan?.ten }}</a
              >
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/loai-tai-san', loaiTaiSan.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/loai-tai-san', loaiTaiSan.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(loaiTaiSan)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="loaiTaiSans && loaiTaiSans.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
