<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="loaiTaiSan">
      <h2 data-cy="loaiTaiSanDetailsHeading"><span jhiTranslate="finmansysApp.loaiTaiSan.detail.title">Loai Tai San</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ loaiTaiSan.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.loaiTaiSan.ten">Ten</span></dt>
        <dd>
          <span>{{ loaiTaiSan.ten }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.loaiTaiSan.moTa">Mo Ta</span></dt>
        <dd>
          <span>{{ loaiTaiSan.moTa }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.loaiTaiSan.maKeToan">Ma Ke Toan</span></dt>
        <dd>
          <div *ngIf="loaiTaiSan.maKeToan">
            <a [routerLink]="['/ma-ke-toan', loaiTaiSan.maKeToan?.id, 'view']"
              >{{ loaiTaiSan.maKeToan?.soHieu }} - {{ loaiTaiSan.maKeToan?.ten }}</a
            >
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/loai-tai-san', loaiTaiSan.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
