<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-phong-heading" data-cy="PhongCreateUpdateHeading" jhiTranslate="finmansysApp.phong.home.createOrEditLabel">
        Create or edit a Phong
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phong.ten" for="field_ten">Ten</label>
          <input type="text" class="form-control" name="ten" id="field_ten" data-cy="ten" formControlName="ten" />
          <div *ngIf="editForm.get('ten')!.invalid && (editForm.get('ten')!.dirty || editForm.get('ten')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ten')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phong.loai" for="field_loai">Loai</label>
          <input type="text" class="form-control" name="loai" id="field_loai" data-cy="loai" formControlName="loai" />
          <div *ngIf="editForm.get('loai')!.invalid && (editForm.get('loai')!.dirty || editForm.get('loai')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('loai')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phong.gia" for="field_gia">Gia</label>
          <input type="number" class="form-control" name="gia" id="field_gia" data-cy="gia" formControlName="gia" />
          <div *ngIf="editForm.get('gia')!.invalid && (editForm.get('gia')!.dirty || editForm.get('gia')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('gia')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('gia')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              This field should be at least 1.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('gia')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phong.khachSan" for="field_khachSan">Khach San</label>
          <select class="form-control" id="field_khachSan" data-cy="khachSan" name="khachSan" formControlName="khachSan">
            <option *ngIf="!editForm.get('khachSan')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="khachSanOption.id === editForm.get('khachSan')!.value?.id ? editForm.get('khachSan')!.value : khachSanOption"
              *ngFor="let khachSanOption of khachSansSharedCollection; trackBy: trackKhachSanById"
            >
              {{ khachSanOption.ten }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['khachSan'])!.invalid && (editForm.get(['khachSan'])!.dirty || editForm.get(['khachSan'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['khachSan'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
