.tab-close {
  color: gray;
  text-align: right;
  cursor: pointer;
}

.nav-tabs {
  color: gray;
  text-align: right;
  cursor: pointer;
  border-bottom: 1px solid !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.nav-tabs li:hover {
  color: gray;
  text-align: right;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: darkgrey !important;
  color: white !important;
}

.nav-tabs li {
  padding: 10px;
  margin-bottom: -2px;
}

.active {
  border: 1px solid darkgrey;
  border-bottom: none;
  margin-bottom: -2px;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
